/*All Pages---------------------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F4BBD3;
}

.mainheadings {
    font-family: "Lucida Handwriting", cursive;
    font-size: 4rem;
    color: #5720bd;
    text-align: center;
    line-height: 5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem white;
    /*text shadow: https://www.w3schools.com/css/css_text_shadow.asp*/
}
@media (max-width: 768px) {
    .mainheadings {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.mainheadingscolor {
    border: solid 2px #ff48a0d7;
    background: linear-gradient(to bottom, #c155ff, #ff48a0d7);
    /*https://www.w3schools.com/css/css3_gradients.asp*/
}

/*Entire Navigation*/
.navtop {
    justify-content: center;
    display: flex;
}
@media (max-width: 768px) {
    .navtop {
        flex-direction: column;
        justify-content: center;
    }
}

/*Each link*/
.navhead {
    padding: 0.2rem 3rem;
    margin: 0rem 2rem;
    text-decoration: none;
    font-size: 150%;
    border-bottom: solid 0.2rem purple;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px purple;
}
@media (max-width: 768px) {
    .navhead {
        font-size: 01rem;
        line-height: 2rem;
        padding: 0 1rem;
        margin: 0 1rem;
        border-bottom: none;
        text-align: center;
    }
}

a:hover {
    color: #7B2FF7;
}





/*Home Page:-------------------------------------------------------------------------------------------*/

/*white background*/
.whitesquare {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 1px white;
    background-color: white;
    margin: 4rem 4rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}
@media (max-width: 768px) {
    .whitesquare {
        margin: 2rem 1rem;
        padding: 1rem 1rem;
    }
}


/*Entire section*/
#index {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
}
@media (max-width: 768px) {
    #index {
        flex-direction: column;
        justify-content: center;
    }
}

/*Figure*/
#indeximage {
    width: 100%;
    height: auto;
}
/*Image*/
#indeximage img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem purple;
    /*box shadow: https://www.w3schools.com/css/css3_shadows_box.asp*/
}
@media (max-width: 768px) {
    #indeximage img {
        width: 80%;
        border-radius: 10px;
        box-shadow: 0.2rem 0.2rem purple;
        justify-content: center;
    }
}

/*Text*/
#indexarticle {
    width: 100%;
    font-size: 1.4rem;
}
@media (max-width: 768px) {
    #indexarticle {
        text-align: center;
        font-size: 1rem;
    }
}

/*3 words under Welcome*/
.threewords {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}
#student {
    padding-right: 0.5%;
}
#creative {
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    padding: 0 1%;
}
#driven {
    padding-left: 0.5%;
}
@media (max-width: 768px) {

    #student,
    #creative,
    #driven {
        font-size: 0.7rem;
        padding: 0 rem;
        border-bottom:1px;
    }
}

/*Paragraphs*/
.indexparagraphs {
    line-height: 150%;
}

/*Audio*/
audio {
  width: 500px;
}
@media (max-width: 768px) {
  audio {
    width: 210px;
  }
}





/*My About Page--------------------------------------------------------------------------------------------------------------------------------*/

/*All the subheadings of the webpage*/
.subheadings {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 1rem;
    text-align: center;
    border: solid 0.1rem #c155ff;
    background-color: #c155ff;
    border-radius: 0.5rem;
    margin: 3rem 2rem;
}
@media (max-width:768px) {
    .subheadings {
        font-size: 1.1rem;
        margin: 1rem 0rem;
    }
}

/*Section about Journey*/
/*Images of different 3 countries*/
.countriespics {
    display: flex;
    font-size: 1.8rem;
    color: purple;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
    .countriespics {
        flex-direction:column;
        font-size: 1.1rem;
        justify-content: center;
    }
}
.countriespics img {
    width: 100%;
    height: 90%;
    box-shadow: 0.4rem 0.4rem purple;
    /*box-shadow: https://www.w3schools.com/csS/css3_shadows_box.asp*/
    display: block;
    border-radius: 0.5rem;
    transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
    /*https://cloudinary.com/guides/front-end-development/change-image-on-hover-with-html-and-css*/
}
@media (max-width:425px) {
    .countriespics img {
        width: 90%;
        height: auto;
        margin: 1rem;
    }
}

#choosesentence {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.4rem;
}
@media (max-width:768px) {
#choosesentence {
    text-align: center;
    font-size: 1rem;
}}

.countrytext {
    text-align: center;
    padding-top: 1rem;
}

/*Journey Texts*/
.journeytexts {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 0.5rem 4rem;
    border: solid 0.2rem purple;
    margin: 4rem 10rem;
    border-radius: 0.5rem;
    background: white;
    text-align: center;
}
@media (max-width:768px) {
    .journeytexts {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 1rem;
    margin: 1rem 1rem;
    }
}


/*Pictures from each country*/
#southafricapics,
#swisspics,
#austriapics {
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    #southafricapics,
    #swisspics,
    #austriapics {
        flex-direction: column;
    }
}
#southafricapics img {
    width: 250px;
    border-radius: 10px;
}
@media (max-width: 768px) {
#southafricapics img {
    width: 160px;
    justify-content: center;
}
}

#swisspics img {
    width: 250px;
    border-radius: 10px;
}
@media (max-width: 768px) {
#swisspics img {
    width: 160px;
    justify-content: center;
}
}
#austriapics img {
    width: 250px;
    border-radius: 10px;
}
@media (max-width: 768px) {
#austriapics img {
    width: 160px;
    justify-content: center;
}
}



/*gifs*/
#gifs {
    display: inline-flex;
    justify-content: center;
}

@media (max-width: 768px) {
    #gifs {
        flex-direction: column;
        justify-content: center;
        width:280px;
    }
}

#gifs img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.gifcaption {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
}

@media (max-width: 768px) {
.gifcaption {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}
}

/*Sections of info: interests and hobbies, fun facts and personal info*/
.otherinfo {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

@media (max-width: 768px) {
    .otherinfo {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 3rem;
    }
}









/*CV---------------------------------------------------------------------------------------*/

/*Whiteblock background*/
.whiteblock {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 1px white;
    background-color: white;
    margin: 4rem 4rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}
@media (max-width: 768px) {
    .whiteblock {
        margin: 2rem 1rem;
        padding: 1rem 2rem;
    }
}

/*CV pic next to text*/
#cvtextpic {
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    #cvtextpic {
    flex-direction: column;
}
}
#profilepic img {
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
}

/*The text*/
#textprofile {
    font-size: 1.4rem;
    line-height: 2rem;
}
@media (max-width: 768px) {
    #textprofile {
    font-size: 1rem;
    line-height:1.5;
    }
}

/*navigation listed under intro text*/
#cvnav li {
    text-align: left;
}
@media (max-width: 768px) {
    #cvnav li{
    font-size: 1rem;
}
}

/*The subheadings*/
.topics {
    text-align: center;
    border: solid 2px rgb(255, 157, 255);
    background-color: rgb(255, 157, 255);
    border-radius: 5px;
    padding: 10px
}
@media (max-width: 768px) {
    .topics {
    font-size: 1.1rem;
    padding: 10px
}
}






/*Gallery--------------------------------------------------------*/

#quote {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
@media (max-width: 768px) {
    #quote {
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: center;
}
}

#gallery {
    border: solid 10px white;
    background-color: white;
}





/*Contact--------------------------------------------------------*/

#contactheading {
    text-align: center;
    border: solid 2px rgb(255, 157, 255);
    background-color: rgb(255, 157, 255);
    border-radius: 5px;
    padding: 20px 0px;
}
@media (max-width: 768px) {
    #contactheading {
    padding: 10px 0px;
    font-size: 1.1rem;
}
}

/*Entire form*/
.contact {
    border: solid 1px white;
    background-color: white;
    border-radius: 2rem;
}

/*Each division: Label with input*/
.input {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin-left: 6rem;
    text-align: left;
}
@media (max-width: 768px) {
    .input {
    padding: 0;
    margin:0;
    text-align: left;
}
}

/*Label Heading*/
.label {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem 0;
    color: purple;
    text-align: left;
}
@media (max-width: 768px) {
    .label {
    font-size: 1rem;
    padding: 1rem 0;
    }
}

/*User Input Container*/
.inputbox {
    font-size: 1rem;
    width: 90%;
    border: solid 0.2rem purple;
    border-radius: 1rem;
    padding: 0.8rem;
    text-align: left;
}
@media (max-width: 768px) {
    .inputbox {
    font-size: 1rem;
    padding: 0.3rem;
    text-align: left;
}
}

/*Focus effect: https://stackoverflow.com/questions/76020486/how-do-i-add-a-highlight-color-to-the-form-input-fields-in-html*/
.inputbox:focus {
    background-color: #f7b1f7;
    box-shadow: 0 0 0.1rem purple;
    outline: solid 0.1rem purple;
}

/*Message Container*/
#message {
    resize: none;
    font-size: 1rem;
    width: 90%;
    border: solid 0.2rem purple;
    border-radius: 1rem;
    padding: 0.8rem;
}
@media (max-width: 768px) {
    #message {
    width: 80%;
    padding: 0.5rem;
    }
}
#message:focus {
    background-color: rgb(247, 177, 247);
    box-shadow: 0 0 0.2rem purple;
    outline: solid 0.2rem purple;
}

/*Submit Button*/
#submit {
    background-color: rgb(235, 149, 235);
    margin-bottom: 5%;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    width: 12rem;
    border-radius: 2rem;
    border: solid 0.2rem purple;
    color: purple;
}
@media (max-width: 768px) {
    #submit {
        margin: 1rem 0;
        font-size: 1rem;
        padding: 0.5rem;
        justify-content: left;
    }
}

#submit:hover {
    background-color: #aa76fd;
    transform: scale(1.05);
}

/*Footer*/
footer {
    background-color: #ff48a0d7;
    text-align: center;
    padding: 2rem;
}

.footertext {
    color: purple;
    font-size: 1.2rem;
    line-height: 30px;
}

@media (max-width: 48rem) {
    .footertext {
        font-size: 0.8rem;
        line-height: 1rem;
        padding-bottom: 1.5rem;
    }
}

.navfoot {
    display: inline-flex;
    justify-content: center;
    padding: 3rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0.1rem 0.1rem purple;
}

@media (max-width: 48rem) {
    .navfoot {
        font-size: 1rem;
        display: inline;
        padding: 0 0.5rem;
    }
}